.container-section-contact {
    padding-top: 20%;
    max-width: 1440px;
    width: 100%;
    height: 750px;
    background-image: url(../images/computer-1185626_1920.jpg);
    background-size: cover; 
    animation: movimiento 10s infinite linear alternate;
}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
/* other background */
.container-section-contact-2 {
    margin-top: 5%;
    max-width: 1440px;
    width: 100%;
    background-image: url(../images/form-back.jpg);
    height: 630px;
    padding: 0px 0px;
}
/* other background */

.container-contacts {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

.container-contacts-h2-p h2 {
    width: 100%;
    font-size: 75px;
    text-align: center;
    color: rgb(33, 34, 34);
    padding-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px #000;
}

.container-contacts-h2-p span {
    color: #cc900d;
}
.container-contacts-h2-p p{
    font-size: 25px;
    color: #000;
 
    /* text-shadow: 0px 0px 5px #000; */
    font-weight: 600;
}

.container-contacts-h2-p a button{
    height: 60px;
    width: 220px;
    font-size: 22px;  
    border: 2px solid #cc900d;
    color: white;
    background-color: transparent;
    border-radius: 35px;
    font-weight: 700;
}
.container-contacts-h2-p a button:hover{
    background-color: #cc900d;
    transition: all 300ms ease;
}



/* CONTACT FORM */
.icon-form{
    font-size: 50px;
    color: #cc900d;
    text-align: center;
}
.container-contact-form{
    max-width: 1440px;
    width: 100%;
    height: 1000px;
    background-image: url(../images/form-back.jpg);
    padding: 10px 10px;
}
.networks-contact{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
.net-contact{
    background-color: rgba(255, 255, 255, 0.466);
    height: 120px;
    padding: 20px 10px;
    width: 25%;
}
.net-contact h2{
    font-size: 18px;
}
.container-form-map{
   width: 100%;
   align-content: center;
   background-color: #cc900d;
   text-align: center;
}
@media(max-width:425px) {
    .container-section-contact{

        height: 550px;
        background-image: url(../img/fondoWho\ \(2\).jpg);
    }

    .container-contacts-h2-p{
       
        padding: 20px 20px;
        height: 270px;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.473);
        margin-left: -30px;
      }
    .container-contacts-h2-p h2{
        font-size: 18px;
        text-align: left;
        text-transform: capitalize;
        color: white;
        

      }
      .container-contacts-h2-p span{
        text-shadow: 0px 0px 15px #cc900d;
      }
      .container-contacts-h2-p p{
         font-size: 25px;
         color: white;
         text-align: left;
      }

      .container-contacts-h2-p a button{
          height: 40px;
          width: 140px;
          background-color: #cc900d;
          font-size: 16px;
          
      }

    .section-container-contact-form {
        padding: 0px;
    }

    .container-forms {
        padding: 0px;
    }

    .container-contacts{
        margin-top: -90px;

        text-align: left;
    }




}

@media (max-width:768px) {


    .container-contacts {

        margin-top: 20px;
        width: 100%;
    }
    .container-contacts-h2-p{
        margin-top: -100px;
        padding: 0px 60px;
    }
    .container-contacts-h2-p h2{
        font-size: 45px;
    }
    .container-contacts-h2-p p{
        font-size: 20px;
    }
   


}

@media (max-width:1024px) {
    .container-section-contact{
        padding-top: 5%;
    }
    .container-contacts {
        padding: 250px 40px;
        width: 100%;
    }
   
}