.container-section-contact {
    padding-top: 20%;
    max-width: 1440px;
    width: 100%;
    height: 800px;
    background-image: url(../images/computer-1185626_1920.jpg);
    background-size: cover; 
    animation: movimiento 10s infinite linear alternate;
}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
/* other background */
.container-section-contact-2 {
    margin-top: 5%;
    max-width: 1440px;
    width: 100%;
    background-image: url(../images/form-back.jpg);
    height: 630px;
    padding: 0px 0px;
}
/* other background */

.container-contacts {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

.container-contacts-h2-p h2 {
    width: 100%;
    font-size: 75px;
    text-align: center;
    color: rgb(33, 34, 34);
    padding-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px #000;
}

.container-contacts-h2-p span {
    color: #cc900d;
}
.container-contacts-h2-p p{
    font-size: 25px;
    color: #000;
    font-weight: 600;
}

.container-contacts-h2-p a button{
    height: 60px;
    width: 220px;
    font-size: 22px;  
    border: 2px solid #cc900d;
    color: white;
    background-color: transparent;
    border-radius: 35px;
    font-weight: 700;
}
.container-contacts-h2-p a button:hover{
    background-color: #cc900d;
    transition: all 300ms ease;
}



/* CONTACT FORM */
.icon-form{
    font-size: 50px;
    color: #cc900d;
    text-align: center;
}
.container-contact-form{
    max-width: 1440px;
    width: 100%;
    height: 650px;
    background-image: url(../images/form-back.jpg);
    padding: 15px 10px;
}
.networks-contact{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    padding: 5px 5px;
}
.net-contact{
    background-color: rgba(255, 255, 255, 0.466);
    height: 120px;
    padding: 20px 0px;
    width: 25%;
}
.net-contact h2{
    font-size: 16px;
}
.container-form-map{
   width: 100%;
   align-content: center;
   margin-top: 1%;
   display: flex;
}

.container-map{
    width: 50%;
    
}
.container-map iframe{
    width: 95%;
    height: 100%;
    
}
.container-form{
    width: 50%;
    height: 100%;
}

input.input-style{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}
select.select-style{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background-color: white;

}
textarea.textarea-style{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding: 5px 10px;
}
button.btn{
    height: 40px;
    width: 110px;
    border: none;
    color: white;
    background-color: #cc900d;
}

/* LEAVE FORM */

.container-form-leave-license{
    height: 700px;
    max-width: 1440px;
    width: 100%;
    background-image: url(../images/backLeave.png);
    background-size: cover;
    background-position: center center;
}

@media (max-width:1024px) {
    .container-section-contact{
        padding-top: 18%;
    }
    .container-contacts {
        padding: 250px 40px;
        width: 100%;
    }
   
}

@media (max-width:768px) {

    .net-contact h2{
        font-size: 14px;
    }
    .container-form-map{
        width: 100%;
        align-content: center;
        justify-content: space-evenly;
     }

     input.input-style{
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
    }
    select.select-style{
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
    }
    textarea.textarea-style{
        height: 200px;
        width: 100%;
    }
    .container-contacts {
        margin-top: 20px;
        width: 100%;
    }
    .container-contacts-h2-p{
        margin-top: -100px;
        padding: 0px 60px;
    }
    .container-contacts-h2-p h2{
        font-size: 45px;
    }
    .container-contacts-h2-p p{
        font-size: 20px;
    }
}


@media (max-width:425px) {

    .container-section-contact{
        height: 550px;
    }
    .icon-form{
        font-size: 25px;
        color: #cc900d;
        text-align: center;
    }

    .networks-contact{
        width: 100%;
        padding: 0px 5px;
    }
    .net-contact{
        background-color: rgba(255, 255, 255, 0.466);
        height: 90px;
        /* padding: 20px 5px; */
        width: 25%;
    }
    .net-contact h2{
        font-size: 14px;
    }
    .container-form-map{
        width: 100%;
        align-content: center;
        padding-right: 1%;
        padding-left: 1%;
        display: block;
        margin-top: 5%;
     }
     .container-form{
         height: 50%;
         width: 100%;
     }
     .container-map{
         display: none;
     }
     input.input-style{
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
    }
    select.select-style{
        width: 100%;
        height: 30px;
        margin-bottom: 5px;
    }
    textarea.textarea-style{
        height: 200px;
        width: 100%;
    }
    .container-contact-form{
        height: 600px;
    }
}