body{
    font-family: 'Abel', sans-serif;

}

.contenedor{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 650px;
    display: flex;
    padding-left: 5%;
    align-items: center;
    flex-shrink: 0;
    background-image: url(../images/computer-1185626_1920.jpg);
   
    
}

.contenido-slider:nth-child(2){
    background-image: url(../images/fondoindexx.jpg);
    width: 100%;
    color: #000;
}

.contenido-slider:nth-child(3){
    background-image: url(../images/couch-1845270_1920.jpg);
    width: 100%;
    color: #000;
}
.contenido-slider:nth-child(4){
    background-image: url(../images/form-back.jpg);
    width: 100%;
    color: #000;
}

.container-desc{
    width: 100%;
    height: 300px;
    padding-right:  35%;
}

.contenido-slider h1{
    font-size: 40px;
}
.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: #fff;
    background: #cc900d;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    color: #000;
    
}

.container-industry-text{
    height: 160px;
    padding: 20px 40px;
}
.container-industry-text h2{
    text-transform: capitalize;
    letter-spacing: 2px;
}
.container-industry-text p{
    font-size: 18px;
}
.container-industry-text a{
    background: #cc900d;
    padding: 10px 10px;
    color: #fff;
}

/* TABS NAVIGATION */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*MENU*/

body {
  min-height: 100vh;
  font-family: 'Abel', sans-serif;
}

.wrap{
	width: 800px;
	max-width: 1440px;
	width: 95%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #142d3b;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 50%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #cc900d;
    transition: all 300ms ease;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}
.container-tab2-description{
    width: 100%;
    padding: 20px 15px;
}

@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 600px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	.secciones article{
		padding: 20px;
	}
    .container-steps p{
        font-size: 12px;
    }
    .container-tab2-description{
        width: 100%;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .container-tab2-description p{
        font-size: 13px;
    }
}

@media screen and (max-width:900px){

    .contenido-slider{
        padding-right: 30%;
        padding-left: 0%;
        padding-top: 0%;
        margin-top: -50px;
    }
    .container-desc{
        width: 100%;
        padding-right: 0%;
        padding-left: 5%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
        padding-right: 0%;
        padding-left: 0%;
        height: 520px;
    }
    .container-desc{
        width: 100%;
        padding-right: 15%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
    .container-industry-text{
        height: 200px;
        text-align: center;
        padding: 20px 20px;
    }
    .container-industry-text p{
        font-size: 16px;
    }

}