*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
}
html{
    scroll-behavior: smooth;
}

.contenedor{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 650px;
    display: flex;
    padding-left: 5%;
    align-items: center;
    flex-shrink: 0;
    background-image: url(../images/computer-1185626_1920.jpg);
   
    
}

.contenido-slider:nth-child(2){
    background-image: url(../images/fondoindexx.jpg);
    width: 100%;
    color: #000;
}

.contenido-slider:nth-child(3){
    background-image: url(../images/couch-1845270_1920.jpg);
    width: 100%;
    color: #000;
}
.contenido-slider:nth-child(4){
    background-image: url(../images/form-back.jpg);
    width: 100%;
    color: #000;
}

.container-desc{
    width: 100%;
    height: 300px;
    padding-right:  35%;
}

.contenido-slider h1{
    font-size: 40px;
}
.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: #fff;
    background: #cc900d;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    color: #000;
    
}

.container-industry-text{
    height: 160px;
    padding: 20px 40px;
}
.container-industry-text h2{
    text-transform: capitalize;
    letter-spacing: 2px;
}
.container-industry-text p{
    font-size: 18px;
}
.container-industry-text a{
    background: #cc900d;
    padding: 10px 10px;
    color: #fff;
}

/* TABS NAVIGATION */
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}

.wrap{
	width: 800px;
	max-width: 1440px;
	width: 95%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #142d3b;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 25%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #cc900d;
    transition: all 300ms ease;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}

@media screen and (max-width:900px){

    .contenido-slider{
        padding-right: 30%;
        padding-left: 0%;
        padding-top: 0%;
        margin-top: -50px;
    }
    .container-desc{
        width: 100%;
        padding-right: 0%;
        padding-left: 5%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
        padding-right: 0%;
        padding-left: 0%;
        height: 520px;
    }
    .container-desc{
        width: 100%;
        padding-right: 15%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
    .container-industry-text{
        height: 200px;
        text-align: center;
        padding: 20px 20px;
    }
    .container-industry-text p{
        font-size: 16px;
    }

}