
/* COVER  */
.container-cover-industries{
    max-width: 1440px;
    width: 100%;
    height: 700px;
    background-image: url(..//images/computer-1185626_1920.jpg);
    background-size: 200%;
    padding-top: 10%;
    margin-bottom: 8%;
    align-items: center;
    animation: movimiento 10s infinite linear alternate;
}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
.container-cover{
    width: 100%;
    height: 300px;
    background-color: transparent;
    padding-right: 45%;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.container-cover-industry{
    width: 100%;
    height: 100%;
    background-color: #142d3b9a;
    padding: 30px 20px;
}
.container-cover-industry h4{
    font-size: 25px;
    font-weight: 800;
    font-family: inherit;
    color: white;
}
.container-cover-industry h2{
    font-size: 45px;
    font-weight: 800;
    color: aliceblue;
    padding-bottom: 20px;
}
.container-cover-industry h4 span{
    color: #cc900d;
}
.container-cover-industry a button{
    height: 60px;
    width: 200px;
    border: none;
    color: #f2f2f2;
    background: #cc900d;
    background: -webkit-linear-gradient(to right, #cc900d, #d89b17ce);
    background: linear-gradient(to right, #cc900d, #d89b17ce);
    border-radius: 30px;
}
.container-cover-industry a button:hover{
    height: 65px;
    width: 210px;
    box-shadow: 0px 0px 20px #142d3b;
    transition: all 500ms ease;
    font-size: 20px;
}

.container-all{
    width: 100%;
    height: 200px;
    background-color: transparent;
    margin-top: 10%;
    justify-content: center;
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}
.container-services{
    width: 33.3%;
    height: 100%;
    background-color: #cc900dc4;
    padding: 40px 20px;
}
.container-services i{
    font-size: 45px;
    color: #142d3b;
    padding-bottom: 15px;
}
.container-services h2{
    font-size: 22px;
}


/* ALL SERVICES */
.container-hover-industries{
    max-width: 1440px;
    width: 100%;
    height: 1300px;
    background-color: #D4D4D4;
    padding: 55px 55px;


}
.container-back{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    height: 400px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    
}
.container-back-2{
    width: 49%;
    height: 100%;
    padding: 10px 10px;
    display: flex;
}

.container-1{
    width: 100%;
    height: 100%;
    background-image: url(../img/carpet-cleaning-cover.jpeg);
    object-fit: cover;
    padding: 20px 20px;
}
.container-1:hover{
    width: 100%;
    box-shadow: 0px 0px 10px #cc900d;
    transition: all 500ms ease;
}
.container-1 h2{
    font-family: inherit;
    line-height: 1.2;
    margin-bottom: .5rem;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.container-1 h4{
    font-size: 16px;
    color: #142d3b;
    margin-bottom: 1px;
    text-transform: capitalize;
}
.container-1 span{
    color: #cc900d;
}
.container-1 i{
    color: #cc900d;
}
.container-1 p{
    font-size: 16px;
    font-family: 'Roboto Serif', serif;
}
.container-1 a button{
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: #cc900d;
    background: -webkit-linear-gradient(to right, #cc900d, #d89b17ce);
    background: linear-gradient(to right, #cc900d, #d89b17ce);
    height: 50px;
    width: 140px;
    border: none;
    text-transform: capitalize;
    
}

/* section before after */
    .container-before-father{
        width: 100%;
        height: 1300px;
        
    }
    .container-after{
        width: 100%;
        height: 415px;
        display: flex;
        justify-content: space-evenly;
        padding: 15px 5px;
    }
    .container-after-item{
        width: 49%;
        height: 100%;
    }


@media (max-width:1024px){

    .container-back-2{
        display: block;
        height: 750px;
        padding: 10px 10px;
    }
    .container-1{
        width: 100%;
        height: 50%;
    }
    .container-2{
        width: 100%;
        height: 50%;
    }
    .container-all{
        margin-top: 17%;
    }
    .container-services{
        width: 33%;
    }
    .container-cover{
        padding-right: 30%;
    }
    .container-before-father{
        height: 1000px;
    }
    .container-after{
        height: 320px;
    }
}
@media (max-width:768px){
    .container-hover-industries{
        padding: 10px 10px;
    }
    .container-back-2{
        display: block;
        height: 100%;
        padding: 10px 10px;
        
    }
    .container-1{
        width: 100%;
        height: 100%;
    }
    .container-2{
        width: 100%;
        height: 100%;
    }
    .container-all{
        height: 200px;
        padding: 30px 30px;
        padding-top: 15%;
    }
    .container-services{
        height: 120px;
        padding: 30px 10px;
    }
    .container-services i{
        font-size: 25px;
    }
    .container-services h2{
        font-size: 20px;
    }
    .container-cover-industry h2{
        font-size: 40px;
        padding-bottom: 5px;
    }
    .container-cover-industry a button{
        height: 45px;
        width: 140px;
    }
    .container-before-father{
        height: 730px;
    }
    .container-after{
        height: 240px;
    }

}
@media (max-width:425px){

    .container-hover-industries{
        max-width: 1400px;
        width: 100%;
        height: 2400px;
        height: 100%;
        background-color: #f2f2f2;
        padding: 5px 5px;
        margin-bottom: 1%;
    
    }
    .container-back{
        max-width: 1440px;
        width: 100%;
        height: 70%;
        padding: 0px 0px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
    }
    .container-back-2{
        width: 49%;
        height: 100%;
        /* background-color: antiquewhite; */
        padding: 0px 0px;
        display: block;

    }
    .container-1{
        width: 100%;
        height: 100%;
        padding: 5px 5px;
    }
    .container-1 i{
        font-size: 10px;
    }
    .container-1 h2{
        font-size: 16px;
    }
    .container-1 h4{
        font-size: 13px;
    }
    .container-1 p{
        font-size: 11px;
    }
    .container-1 a button{
        height: 25px;
        font-size: 14px;
        width: 70px;
    }
    .container-cover-industries{
        height: 550px;
    }
    .container-cover-industry h4{
        font-size: 16px;
    }
    .container-cover-industry h2{
        font-size: 25px;
        padding-bottom: 15px;
    }
    .container-all{
        margin-bottom: 0%;
        padding-bottom: 0px;
        padding-left:  5px;
        padding-right: 5px;
    }
    .container-services {
        width: 33.3%;
        height: 100px;
        padding: 20px 5px;
    }
    .container-services i{
        font-size: 15px;
        width: 25px;
    }
    .container-services h2{
        font-size: 18px;
    }
    .container-before-father{
        height: 1575px;
    }
    .container-after{
        display: block;
        height: 525px;
        margin-bottom: 0%;
       
    }
    .container-after-item{
        width: 100%;
        height: 50%;
    }
  
}


