@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
}

/*MENU*/

body {
  min-height: 100vh;
}
html{
  scroll-behavior: smooth;
}
.container-informations{
  max-width: 1440px;
  width: 100%;
  height: 50px;
  background-color: #cc900d;
  position: fixed;
  z-index: 100;
  margin-bottom: 5%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}

.navbar .logo a {
  font-size: 30px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
a.logo-let{
  color: #cc900d;
  font-size: 15px;
  padding: 30px 10px;
}

.navbar .logo a img {
  width: 40px;
}

.nombre-logo-logo{
  margin-left: -110px;

}
nav .navbar .nombre-logo-logo h4{
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
nav .navbar .nombre-logo-logo h4 span{
  color: #cc900d;
}
nav .navbar  .nombre-logo-logo p{
  font-weight: 600;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
 
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #000;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: #142d3b;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #142d3b;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #142d3b;
}

.search-box .input-box::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 20px;
  background: #142d3b;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 290px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

@media (max-width:920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
    font-weight: bold;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  nav .navbar .links li a {
    font-size: 15px;
  }
}

@media (max-width:1024px) {
  .nombre-logo-logo{
    display: none;
  }
  .navbar .bx-menu {
    display: block;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 350px;
    width: 100%;
    background: white;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #000;
  }

  .logo-name span {
    color: #cc900d;
    text-shadow: 0px 0px 10px #000;
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #142d3b;
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;

  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}

@media (max-width:370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

/*MENU*/

/*ARTICULO*/

main {
  background: #f0f0f0;
  padding: 40px 20px;

}

article {
  max-width: 1440px;
  margin: 20px auto;
  padding: 40px;
  background: #fff;

}

article p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto Serif', serif;
}

/*ELEMENTOS RESPONSIVOS*/


/* COVER */
.more-information {
  margin-top: 1%;
  padding-top: 40px;
  background-color: whitesmoke;
  height: 250px;
  padding-bottom: 0.1px;
}

.more-information h2 {
  font-weight: 100;
  text-align: center;
  font-size: 2.4em;
  font-family: 'Abel', sans-serif;
  color: #142d3b;
}

.more-information h4 {
  font-weight: 100;
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-size: 1.2em;

}

div.more-button {
  text-align: center;
  text-decoration: none;
  padding-top: 10px;

}

div.more-button button {
  color: #f2f2f2;
  height: 50px;
  width: 180px;
  border: 2px solid #f2f2f2;
  background-color: #cc900d;
  border-radius: 15px;
  font-family: 'Roboto Serif', serif;
}

div.more-button button:hover {

  color: white;
  text-shadow: 0 0 30px rgb(189, 134, 33);
  transition: all 0.5s ease;
}


/* PAGE CONTACT*/

/* cover section */
.container-section {
  padding-top: 20%;
  max-width: 1440px;
  width: 100%;
  height: 800px;
  background-image: url(../images/fondoindexx.jpg);
  animation: movimiento 10s infinite linear alternate;
}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}

.container-index{
  text-align: center;
}
.container-index h2{
  font-size: 70px;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
}
.container-index h2 span{
  color: #cc900d;
}
.container-index p{
  font-size: 35px;
}
.container-index a button{
  height: 45px;
  width: 160px;
  border: none;
  color: white;
  background-color: #cc900d;
}

.upbutton{
  font-size: 15px;
  display: inline-block;
  padding: 10px 12px;
  background-color: #cc900dc4;
  color: white;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 1px;
  z-index: 10;
}

.container-contacts-cover {
  display: flex;
  width: 100%;
}

.container-section-cc-our-mission {
  padding-top: 5%;
  box-shadow: 0px 0px 3px #000;
  margin: 10%;
  width: 30%;
  background-color: #323a56c0;
  height: 500px;
}

.container-section-cc-our-mission h2 {
  font-size: 70px;
  text-transform: capitalize;
  color: white;
}

.container-section-cc-our-mission h2 span {
  text-transform: capitalize;
  color: #000;
  font-size: 70px;
  font-weight: 600;
}

.container-section-cc-our-mission p {
  font-size: 20px;
  color: #ccd1e5;

}

.container-section-cc-our-mission span {
  margin-top: 25%;
  color: white;

}

.container-section-cc-our-mission a button {
  margin-left: 25px;
  height: 45px;
  width: 150px;
  background-color: #cc900d;
  border: none;
  color: white;
  border-radius: 20px;
}

.container-section-cc-text {
  padding-top: 20%;
}

.container-section-cc-text h2 {
  font-size: 70px;
  text-transform: capitalize;
  color: white;
  font-family: 'Abel', sans-serif;
}

.container-section-cc-text span {
  color: #cc900d;
  font-weight: bold;
}

.container-section-cc-text p {
  text-transform: capitalize;
  font-size: 18px;
  color: #142d3b;
  font-weight: 600;
}

/* section one */
.container-section-header-cc {
  max-width: 1440px;
  width: 98.5%;
  height: 150px;
  background-color: #323a56;
  margin: 1% 1%;
}

.header-letters {
  padding: 25px;
}

.header-letters h2 {
  color: white;
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Abel', sans-serif;
  padding-bottom: 1%;

}

.header-letters p {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Roboto Serif', serif;
}

/* SECTION QUOTE*/
.container-quote {
  max-width: 1440px;
  width: 100%;
  height: 200px;
  margin: 0;
  background-color: #fff;
  padding: 60px 20px;
}

.container-content-quote {
  display: flex;
  width: 100%;
}

.container-quote-two {
  display: flex;
  width: 60%;
}

.container-quote-tel {
  margin: 0px 15px;
  padding-right: 20px;
}

.container-qoute-letters {
  margin-right: 15px;

}

.container-qoute-letters h2 {
  color: #000;
  letter-spacing: 2px;
  font-size: 25px;
  font-family: 'Abel', sans-serif;
}

.container-qoute-letters p {
  color: #444;
  font-family: 'Roboto Serif', serif;
  font-size: 17px;
}

.container-quote-one {
  width: 40%;
  text-align: right;
  padding: 0px 25px;

}

.container-quote-one a button {
  height: 50px;
  width: 200px;
  color: white;
  background-color: #cc900d;
  border-radius: 25px;
  border: none;
}
/* SECTION QUOTE*/


/* SECTION SERVICES */
.container-section-services {
  max-width: 1440px;
  width: 100%;
  height: 650px;
  background-color: #E5E5E5;
  padding-top: 40px;
}
.container-letters-services{
  width: 100%;
  height: 170px;
  background-color: #E5E5E5;
  padding: 10px 0px;
  text-align: center;
}
.container-letters-services h2{
  font-size: 35px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  letter-spacing: 5px;
  color: #142d3b;
}

.container-letters-services p{
  font-size: 18px;
  color: #323a56;
}
.container-services{
  width: 100%;
  height: 360px;
  text-align: center;
}
.container-service{
  width: 100%;
  display: flex;
  text-align: center;
  padding-left: 50px;
  /* margin-left: 6%; */

}
.service-s{
  width: 32%;
  background-color: white;
  height: 350px;
}
.service-s img{
  width: 100%;
}
.service-s p{
  font-size: 18px;
  text-transform: uppercase;
  color: #142d3b;
}

.container-btn-service{
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 5px 0px;
}
.container-btn-service a button{
  height: 50px;
  width: 200px;
  color: white;
  background-color: #cc900d;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
}
/* SECTION SERVICES */


/* SECTION WHY US */
.container-why-choose-us{
  max-width: 1440px;
  width: 100%;
  background-color: white;
  height: 500px;
}
.container-text-why-choose-us{
  width: 100%;
  height: 300px;
  text-align: center;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  color: #142d3b;
}
.container-text-why-choose-us h2{
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.container-text-why-choose-us p{
  font-size: 17px;
  color: #142d3b;
}
.container-why-experiences{
  width: 100%;
  height: 200px;
}
.container-container-why{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  padding: 20px 0px;
}
.container-why{
  width: 33%;
  height: 100%;
  padding: 20px 20px;
  display: flex;
}
.container-why-img{
  width: 45%;
}
.container-why-desc{
  width: 50%;
}
.container-why img{
  max-width: 70px;
  height: 50%;
}
.container-why h2{
  color: #323a56;
}
/* SECTION WHY US */

/* SECTION INDUSTRIES */
.container-section-industries {
  max-width: 1440px;
  width: 100%;
  height: 600px;
  background-color: #E5E5E5;
  padding-top: 40px;
}
.container-letters-industries{
  width: 100%;
  height: 170px;
  background-color: #E5E5E5;
  padding: 10px 0px;
  text-align: center;
}
.container-letters-industries h2{
  font-size: 35px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  letter-spacing: 5px;
  color: #142d3b;
}

.container-letters-industries p{
  font-size: 18px;
  color: #323a56;
}
.container-industries{
  width: 100%;
  height: 260px;
  text-align: center;
}
.container-industry{
  width: 100%;
  display: flex;
  text-align: center;
}
.service-i{
  width: 25%;
  background-color: white;
  height: 350px;
}
.service-i img{
  width: 100%;
}
.service-i p{
  font-size: 18px;
  text-transform: uppercase;
  color: #142d3b;
}

.container-btn-industry{
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 20px 0px;
}
.container-btn-industry a button{
  height: 50px;
  width: 200px;
  color: white;
  background-color: #cc900d;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
}
/* SECTION INDUSTRIES */

.instagram{
  display: none;
}


@media (max-width:1024px){
  .container-index{
    text-align: center center;
    padding-top: 10%;
    padding-right: 50px;
    padding-left: 50px;
  }
  .container-index h2{
    font-size: 50px;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
  }
  .container-index h2 span{
    color: #cc900d;
  }
  .container-index p{
    font-size: 25px;
  }
  .container-index a button{
    height: 50px;
    width: 160px;
    border: none;
    color: white;
    background-color: #cc900d;
  }
  .instagram{
    display: flex;
    justify-content: space-evenly;
  }
  .instagram i{
    font-size: 30px;
    color: #cc900d;
  }
  .instagram img{
    width: 60px;
    height: 60px;
  }
} 

  .container-image-let-father{
    max-width: 1400px;
    height: 500px;
    width: 100%;
  }
  .container-image-let{
    width: 100%;
    height: 400px;
    display: flex;
    margin-bottom: 5%;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .container-letgo{
    width: 49%;
    height: 100%;
    background-color: white;
  }
  .container-letgo img{
    width: 100%;
    height: 100%;
  }
  .container-letgo h2{
    
    font-size: 32px;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 30px;
  }
  .container-letgo p{
    font-size: 14px;
    font-family: 'Roboto Serif', serif;
    margin-bottom: 3%;
    padding: 5px 30px;

  }
  .container-letgo a {
    padding: 5px 30px;

  }
  .container-letgo a button{
    height: 40px;
    width: 140px;
    color: white;
    background-color: #cc900d;
    border: none;
  }
@media (max-width:425px){
  .container-section{
    height: 550px;
  }

  .container-index{
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 30%;
  }
  .container-index h2{
    font-size: 35px;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
  }
  .container-index h2 span{
    color: #cc900d;
  }
  .container-index p{
    font-size: 20px;
  }
  .container-index a button{
    height: 40px;
    width: 130px;
    border: none;
    color: white;
    background-color: #cc900d;
  }

    .container-quote{
     width: 100%;
     padding: 10px 10px;
     background-color: #fff;
     height: 170px;
  }
    .container-content-quote{
      display: block;
      width: 100%;
    }
    .container-quote-two{
      width: 100%;
      padding: 5px 5px;
    }
    .container-quote-one{
      width: 100%;
      text-align: center;
    }
    .container-qoute-letters h2{
      color: #000;
      
    }
    .container-qoute-letters p{
      padding: 5px;
      font-size: 14px;
      color: #a7750a;
    }
    .container-btn-service{
      font-size: 14px;
    }
    .container-quote-btn a button{
      height: 45px;
      width: 170px;
    }
    .container-section-services{
      height: 1300px;
    }
    .container-letters-services{
      padding: 10px 40px;
      height: 150px;
    }
    .container-letters-services h2{
      font-size: 25px;
    }
    .container-letters-services p{
      font-size: 14px;
    }
    .container-services{
      height: 1000px;
      width: 100%;
    }
    .container-service{
      display: block;
      width: 100%;
      height: 33%;
      text-align: center;
      padding: 10px 40px;
    }
    .service-s{
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
    .service-s p{
      padding: 15px 0px;
    }

    .container-btn-service{
      height: 100px;
    }
    .container-text-why-choose-us h2{
      font-size: 20px;
    }
    .container-text-why-choose-us p{
      font-size: 16px;
    }
    .container-why-choose-us{
      height: 900px;
    }
    .container-why-desc{
      padding: 15px 0px;
      text-transform: capitalize;
    }
    .container-why-desc h2{
      font-size: 16px;
    }
    .container-text-why-choose-us{
      height: 400px;
    }
    .container-why-experiences{
      height: 200px;
    }
    .container-container-why{
      width: 100%;
      display: block;
    }
    .container-why{
      width: 100%;
    }
    .container-section-industries{
      height: 100%;
    
    }
    .container-industries{
      height: 1200px;
      width: 100%;
    }
    .container-industry{
      display: block;
      width: 100%;
      text-align: center;
      height: 25%;
      padding: 10px 40px;
    }
    .container-letters-industries{
      padding: 10px 40px;
    }
    .container-letters-industries h2{
      font-size: 20px;
    }
    .container-letters-industries p{
      font-size: 16px;
    }
    .service-i{
      height: 100%;
      width: 100%;
    }
    .service-i p{
      padding: 10px 0px;
    }
    .container-btn-industry{
      height: 100px;
      padding: 0px 0px;
      margin: 0px;
    }
    

}
@media (max-width:375px){

}

/* FOOTER  */

footer {
  width: 100%;
  background: #142d3b;
  color: white;

}

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.colum1 {
  max-width: 400px;
}

.colum1 h1 {
  font-size: 22px;
  font-family: 'Roboto Serif', serif;
}

.colum1 p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
  font-family: 'Roboto Serif', serif;
}

.colum2 {
  max-width: 400px;

}

.colum2 h1 {
  font-size: 22px;
  font-family: 'Roboto Serif', serif;
}

.row {
  margin-top: 20px;
  display: flex;
}

.row img {
  width: 36px;
  height: 36px;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3 {
  max-width: 400px;
}

.colum3 h1 {
  font-size: 22px;
  font-family: 'Roboto Serif', serif;

}

.row2 {
  margin-top: 20px;
  display: flex;
}

.row2 img {
  width: 36px;
  height: 36px;
}

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
  color: white;
}

.row2 label a {
  color: white;
}

.container-footer {
  width: 100%;
  background: #101010;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: #C7C7C7;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a {
  text-decoration: none;
  color: #C7C7C7;
}


@media screen and (max-width: 1100px) {

  .container-body {
    flex-wrap: wrap;
  }

  .colum1 {
    max-width: 100%;
  }

  .colum2,
  .colum3 {
    margin-top: 40px;
  }
}